.Name {
  font-size: 3rem;
}

h1 {
  border: 1px solid black;
  padding: 3.5px 0px;
}

.NameBar {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  align-items: center;
}

input {
  padding: 0px;
  border: 1px solid black;
  outline: none;
}

.btn {
  font-size: 1.25rem;
  height: 75%;
}
