.Name {
  font-size: 3vw;
  font-weight: bold;
}

h1 {
}

.header {
  display: flex;
  align-items: center;
}

input {
  padding: 0px;
  outline: none;
}

input {
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
}

.save-btn,
.cancel-btn {
  font-size: 2rem;
}

.save-btn {
  position: absolute;
  top: 5vh;
  right: 10vw;
  height: 5vw;
  width: 5vw;
}

.cancel-btn {
  position: absolute;
  top: 20vh;
  right: 10vw;
  height: 5vw;
  width: 5vw;
}
